---
import SocialBadges from "@components/SocialBadges.astro";
---

<div align="center">
  <img src="githublogo.png" align="center" style="width: 100%" alt="" />
</div>

<div align="center">
  <p>
    Check out my blog for some good stuff. <a href="jacobasper.com"
      >jacobasper.com</a
    >
  </p>
  <p>I like Rust</p>

  <p>
    I'm building a JSON parser to learn more about Finite State Machines Now!
  </p>
</div>

<h2 align="center">Connect with me</h2>
<SocialBadges />
