---
import SocialBadges from "@components/SocialBadges.astro";
import Projects from "@components/Projects.astro";
import Skills from "@components/Skills.astro";
---

<div align="center">
  <img src="githublogo.png" align="center" style="width: 100%" />
</div>

<h1 align="center">I'm Jacob, a full stack web developer</h1>

<SocialBadges />

<br />

<p align="center">
  I work mainly in Rust and TypeScript. I'm looking for work—please <a
    href="https://jacobasper.com/#contactMe"
    >reach out if you're interested in working together</a
  >
</p>

<p align="center">
  In my free time I make <a href="https://www.youtube.com/@jacobasper"
    >programming content for my YouTube Channel!</a
  >
</p>

<hr />

<Projects />

<Skills />

<h2 align="center">Connect with me</h2>
<SocialBadges />
