---
import SocialBadges from "@components/SocialBadges.astro";
import Projects from "@components/Projects.astro";
---

<div align="center">
  <img src="githublogo.png" align="center" style="width: 100%" />
</div>

<h1 align="center">I'm Jacob, a full stack web developer</h1>

<SocialBadges />

<p align="center">
  Software engineer with experience in front-end and back-end development, cloud
  infrastructure, and QA testing
</p>

<h3 align="center">
  Go to <a href="https://jacobasper.com">my portfolio</a> for more information!
</h3>

<hr />

<Projects />

<div align="center">
  <h2>Skills</h2>
  <div align="center">
    <img
      style="margin: 10px"
      src="svg-icons/javascript.svg"
      alt="JavaScript"
      height="75"
    />
    <img
      style="margin: 10px"
      src="svg-icons/mongoDB.svg"
      alt="MongoDB"
      height="75"
    />
    <img
      style="margin: 10px"
      src="svg-icons/nodejs.svg"
      alt="Node.js"
      height="75"
    />
    <img style="margin: 10px" src="svg-icons/git.svg" alt="Git" height="75" />
    <img
      style="margin: 10px"
      src="svg-icons/express.svg"
      alt="Express.js"
      height="75"
    />
    <img
      style="margin: 10px"
      src="svg-icons/EJS.svg"
      alt="EJS.js"
      height="75"
    />
    <img style="margin: 10px" src="svg-icons/CSS3.svg" alt="CSS3" height="75" />
    <img
      style="margin: 10px"
      src="svg-icons/HTML5.svg"
      alt="HTML5"
      height="75"
    />
    <img
      style="margin: 10px"
      src="svg-icons/react.svg"
      alt="React"
      height="75"
    />
  </div>
</div>
<h2 align="center">Connect with me</h2>
<SocialBadges />
