---
import SocialBadges from "@components/SocialBadges.astro";
import Projects from "@components/Projects.astro";
import Skills from "@components/Skills.astro";
---

<div align="center">
  <img src="githublogo.png" align="center" style="width: 100%" />
</div>

<h1 align="center">I'm Jacob, a full stack web developer</h1>

<SocialBadges />

<p align="center">
  Software engineer with experience in front-end and back-end development, cloud
  infrastructure, and QA testing
</p>

<p align="center">
  Go to <a href="https://jacobasper.com">my portfolio</a> for more information!
</p>

<hr />

<Projects />

<Skills />

<h2 align="center">Connect with me</h2>
<SocialBadges />
