---
type Icon = {
  src: string;
  altText: string;
};

const icons: Icon[] = [
  {
    src: "rust.svg",
    altText: "Rust",
  },
  {
    src: "typeScript.svg",
    altText: "TypeScript",
  },
  {
    src: "react.svg",
    altText: "react",
  },
  {
    src: "astro.svg",
    altText: "astro",
  },
  {
    src: "nodejs.svg",
    altText: "Node.js",
  },
  {
    src: "AWS.svg",
    altText: "AWS",
  },
  {
    src: "graphQL.svg",
    altText: "graphQL",
  },
  {
    src: "express.svg",
    altText: "Express",
  },
  {
    src: "mongoDB.svg",
    altText: "MongoDB",
  },
  {
    src: "postgreSQL.svg",
    altText: "postgreSQL",
  },
];
---

<div align="center">
  <h2>Skills</h2>
  <div align="center">
    {
      icons.map(({ src, altText }) => {
        return (
          <img
            src={`src/images/svg-icons/${src}`}
            alt={altText}
            style="margin: 10px"
            height="75"
          />
        );
      })
    }
  </div>
</div>
