---
type Icon = {
  src: string;
  altText: string;
};

const icons: Icon[] = [
  {
    src: "javascript.svg",
    altText: "JavaScript",
  },
  {
    src: "nodejs.svg",
    altText: "Node.js",
  },
  {
    src: "git.svg",
    altText: "Git",
  },
  {
    src: "express.svg",
    altText: "Express",
  },
  {
    src: "HTML5.svg",
    altText: "HTML",
  },
  {
    src: "CSS3.svg",
    altText: "CSS",
  },
  {
    src: "react.svg",
    altText: "react",
  },
  {
    src: "mongoDB.svg",
    altText: "MongoDB",
  },
  {
    src: "postgreSQL.svg",
    altText: "postgreSQL",
  },
];
---

<div align="center">
  <h2>Skills</h2>
  <div align="center">
    {
      icons.map(({ src, altText }) => {
        return (
          <img
            src={`src/images/svg-icons/${src}`}
            alt={altText}
            style="margin: 10px"
            height="75"
          />
        );
      })
    }
  </div>
</div>
